{{#isUserLoggedIn}}

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#story-modal">Share your story</button>

{{#each stories}}
<div class="entry">
  <div class="row">
    <div class="col-md-12">
      <div>{{location}}</div>
      <div>{{date}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="button-container">
        <button class="btn btn-default view-btn" data-toggle="modal" data-target="#story-modal-view-{{_id}}">View</button>
        <button class="btn btn-default edit-btn" data-toggle="modal" data-target="#story-modal-edit-{{_id}}">Edit</button>
        <form method="POST" action="/stories/{{_id}}?_method=DELETE"><button type="submit" class="btn btn-default delete-btn" >Delete</button></form>
      </div>
    </div>
  </div>
</div>
{{/each}}

{{/isUserLoggedIn}}

<!-- NEW STORY MODAL -->
<div class="modal fade" id="story-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/stories" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Story</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <input name="location" class="location form-control col-md-3" type="text">
              <input type="hidden" class="lat" name="latitude">
              <input type="hidden" class="lng" name="longitude">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <select name="prompt" id="selected-prompt">
                <option value="">Choose your own prompt</option>
                <option value="prompt1">Where are you at in life?</option>
                <option value="prompt2">What has been your biggest regret?</option>
                <option value="prompt3">Who are you?</option>
                <option value="prompt4">Where do you see yourself in 5 years?</option>
                <option value="prompt5">What are you currently struggling with?</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <textarea name="anecdote" class="form-control col-md-3" placeholder="Tell us your story"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <input type="file" class="file_input"/>
              <input type="hidden" class="image_url" name="image" value="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="reset" class="btn btn-default">Reset</button>
          <button type="submit" id="story-submit-btn" class="btn btn-primary submit-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- VIEW STORY MODAL -->
{{#each stories}}
<div class="modal fade" id="story-modal-view-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/stories/{{_id}}" method="GET">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">View Your Story</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <strong>{{location}}</strong> | {{date}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              {{anecdote}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <img src="{{image}}"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/each}}

<!-- EDIT STORY MODAL --> 
{{#each stories}}
<div class="modal fade" id="story-modal-edit-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" action="/stories/{{_id}}?_method=PUT">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Your Story</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <input name="location" class="location form-control col-md-3" type="text" value="{{location}}">
              <input type="hidden" class="lat" name="latitude">
              <input type="hidden" class="lng" name="longitude">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <select name="prompt" id="selected-prompt">
                <option value="">Choose your prompt</option>
                <option value="prompt1" {{#ifEquals prompt "prompt1"}}selected{{/ifEquals}}>Where are you at in life?</option>
                <option value="prompt2" {{#ifEquals prompt "prompt2"}}selected{{/ifEquals}}>What has been your biggest regret?</option>
                <option value="prompt3" {{#ifEquals prompt "prompt3"}}selected{{/ifEquals}}>Who are you?</option>
                <option value="prompt4" {{#ifEquals prompt "prompt4"}}selected{{/ifEquals}}>Where do you see yourself in 5 years?</option>
                <option value="prompt5" {{#ifEquals prompt "prompt5"}}selected{{/ifEquals}}>What are you currently struggling with?</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <label for="anecdote">Tell us your story:</label>
              <textarea name="anecdote" class="form-control col-md-3">{{anecdote}}</textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <img src="{{image}}"/>
              <input type="file" class="file_input" data-story-id="{{_id}}"/>
              <input type="hidden" class="image_url" name="image" value="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="reset" class="btn btn-default">Reset</button>
          <button type="submit" class="btn btn-primary update-btn">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/each}}

<script src="/dashboard.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3oUAlkb1W-g1FW-V_P0SfvbnMsiwLe98&signed_in=true&libraries=places&callback=initMap" async defer></script>
