{{#isUserLoggedIn}}

<div class="container-fluid" style="padding: 0">
  <div id="quote-container3">
    <div class="row text-center">
      <p id="quote3">Stories make us more alive, more human, more courageous, more loving.<br><span class="break"><hr></span></p>
    </div>
    <div class="row text-center">
      <p id="name3">Madeleine L’Engle</p>
    </div>
  </div>
</div>

{{!-- CONTAINER --}}
<div id="stories-container" class="container">
  {{!-- TITLE --}}
  <span id="my-stories">My Stories</span>
  <button type="button" class="btn btn-default" id="share-story-btn" data-toggle="modal" data-target="#story-modal"><span class="glyphicon glyphicon-plus"></span>&nbsp; SHARE YOUR STORY</button>
  {{!-- SUBCONTAINER --}}
  <div id="stories-subcontainer" class="row text-left">

    {{#each stories}}
    <div class="entry-stories">
      <div class="entry-text-container">
        <div>{{date}}</div>
        <div><strong>{{location}}</strong></div>
      </div> {{!-- entry-text-container --}}
      <div class="button-container">
        <button class="btn btn-default view-btn" ><span class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#story-modal-view-{{_id}}"></span></button>
        <button class="btn btn-default edit-btn" data-toggle="modal" data-target="#story-modal-edit-{{_id}}"><span class="glyphicon glyphicon-pencil"></span></button>
        <form method="POST" action="/stories/{{_id}}?_method=DELETE"><button type="submit" class="btn btn-default delete-btn"><span class="glyphicon glyphicon-trash"></span></button></form>
      </div> {{!-- button-container --}}
    </div> {{!-- entry-stories --}}
    {{/each}}

</div>
</div>

{{!-- CONTAINER --}}
<div id="favorites-container" class="container">
  {{!-- TITLE --}}
  <span id="my-favorites"><span class="glyphicon glyphicon-heart" style="color:red"></span>&nbsp;'d Stories</span>
  {{!-- SUBCONTAINER --}}
  <div id="favorites-subcontainer" class="row">

    {{#each favorites}}
    <div class="entry-favorites row col-md-12">
      <span class="image-container">
          <img src="{{image}}" class="favorites-img img-rounded"/>
      </span>
      <span class="col-md-9">
        <div class="favorites-date">{{date}}</div>
        <div class="favorites-location"><strong>{{location}}</strong></div>
        <div class="favorites-anecdote">{{anecdote}}</div>
      </span>
    </div>
    <div class="favorites-line"><hr></div>
    {{!-- </div> --}}
    {{/each}}

  {{!-- </div> --}}
</div>

{{/isUserLoggedIn}}

<!-- NEW STORY MODAL -->
<div class="modal fade" id="story-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/stories" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Share your story</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <input name="location" class="location form-control" type="text">
              <input type="hidden" class="lat" name="latitude">
              <input type="hidden" class="lng" name="longitude">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Choose a prompt if you'd like, or just freestyle it.&nbsp;
              <select name="prompt" id="selected-prompt">
                <option value=""></option>
                <option value="prompt1">Where are you, personally or professionally, at this moment in life?</option>
                <option value="prompt2">Share with us your biggest mistake you've made or biggest regret you have.</option>
                <option value="prompt3">Who are you? Who do you want to be?</option>
                <option value="prompt4">In five years, where do you see yourself? What does your life look like?</option>
                <option value="prompt5">Tell us what you're struggling with &mdash; vices, addiction, self-perception, etc.</option>
                <option value="prompt6">What are some memories from your childhood? Why are they important to you?</option>
                <option value="prompt7">Describe a moment when you felt vulnerable.</option>
                <option value="prompt8">Where are you from? And what does belonging mean to you?</option>
                <option value="prompt9">What did you do today?</option>
                <option value="prompt10">What would you do if you knew that you could not fail? How far would you go?</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea name="anecdote" class="form-control" placeholder="Tell us your story"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="file" class="file_input"/>
              <input type="hidden" class="image_url" name="image">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="reset" class="btn btn-default">Reset</button>
          <button type="submit" id="story-submit-btn" class="btn btn-primary submit-btn">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- VIEW STORY MODAL -->
{{#each stories}}
<div class="modal fade view-modal" id="story-modal-view-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/stories/{{_id}}" method="GET">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{date}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8">
              <strong>{{location}}</strong> | {{date}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <img src="{{image}}"/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {{anecdote}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/each}}

<!-- EDIT STORY MODAL --> 
{{#each stories}}
<div class="modal fade edit-modal" id="story-modal-edit-{{_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="POST" action="/stories/{{_id}}?_method=PUT">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{date}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <img src="{{image}}"/>
              <input type="file" class="file_input" data-story-id="{{_id}}"/>
              <input type="hidden" class="image_url" name="image" value="{{image}}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input name="location" class="location form-control" type="text" value="{{location}}">
              <input type="hidden" class="lat" name="latitude">
              <input type="hidden" class="lng" name="longitude">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <select name="prompt" id="selected-prompt">
                <option value="">Choose your prompt</option>
                <option value="prompt1" {{#ifEquals prompt "prompt1"}}selected{{/ifEquals}}>Where are you, personally or professionally, at this moment in life?</option>
                <option value="prompt2" {{#ifEquals prompt "prompt2"}}selected{{/ifEquals}}>Share with us your biggest mistake you've made or biggest regret you have.</option>
                <option value="prompt3" {{#ifEquals prompt "prompt3"}}selected{{/ifEquals}}>Who are you? Who do you want to be?</option>
                <option value="prompt4" {{#ifEquals prompt "prompt4"}}selected{{/ifEquals}}>In five years, where do you see yourself? What does your life look like?</option>
                <option value="prompt5" {{#ifEquals prompt "prompt5"}}selected{{/ifEquals}}>Tell us what you're struggling with &mdash; vices, addiction, self-perception, etc.</option>
                <option value="prompt6" {{#ifEquals prompt "prompt6"}}selected{{/ifEquals}}>What are some memories from your childhood? Why are they important to you?</option>
                <option value="prompt7" {{#ifEquals prompt "prompt7"}}selected{{/ifEquals}}>Describe a moment when you felt vulnerable.</option>
                <option value="prompt8" {{#ifEquals prompt "prompt8"}}selected{{/ifEquals}}>Where are you from? And what does belonging mean to you?</option>
                <option value="prompt9" {{#ifEquals prompt "prompt9"}}selected{{/ifEquals}}>What did you do today?</option>
                <option value="prompt10" {{#ifEquals prompt "prompt10"}}selected{{/ifEquals}}>What would you do if you knew that you could not fail? How far would you go?</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <textarea name="anecdote" class="form-control">{{anecdote}}</textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="reset" class="btn btn-default">Reset</button>
          <button type="submit" class="btn btn-primary" id="update-btn">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/each}}

<script src="/dashboard.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyC3oUAlkb1W-g1FW-V_P0SfvbnMsiwLe98&signed_in=true&libraries=places&callback=initMap" async defer></script>
