{{#each stories}}
<div class="google-map-stories hidden" data-lat="{{latitude}}" data-lng="{{longitude}}">
  <h5><span id="like" data-id="{{_id}}" class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;{{location}}</h5>
  <img src="{{image}}"/>
  <p>{{anecdote}}</p>
</div>
{{/each}}

<!-- LOGO, TAGLINE, INTRO PARAGRAPH -->
<div class="container-fluid" id="title-container">
  <br><br><br><br><br><br>
  <div class="row text-center">
    <span id="title">IN<span id="line">/</span><br>FLUX</span>
  </div>
  <br><br><br>
  <div class="row text-center">
    <div id="tagline">This is the story of a changing America.<br><span id="subtagline">What's yours?</span></div>
  </div>
  <div class="row text-center">
    <span class="signup-btn" id="main-signup-btn">Signup</span>
    <span class="login-btn" id="main-login-btn">Login</span>
  </div>
</div>

<!-- ABOUT-->
<div class="container-fluid" style="padding: 0">
  <div id="about-container">
    <div class="row text-center">
      <img src="/country.png"/ id="country">
    </div>
    <div class="row text-center">
      <div id="about-title">As a nation, we are transforming.</div>
    </div>
    <br><br>
    <div class="row text-left">
      <div class="col-md-8 col-md-offset-2">
        <p id="about">By 2043, minorities will become the majority in the United States. Given waves of immigration and aging Baby Boomers, today's young adult population is the most racially diverse generation in U.S. history. Yet, the Black Lives Matter movement signifies deep racial tensions. We are the most educated, and the most burdened by student debt. Despite the ramifications of the Great Recession, millenials remain the most optimistic generation this country has seen.<br><br> We are a nation redefining what it means to be American, in all its struggle and glory, its breadth and depth, and diversity.<br><br> This is our platform to share our stories.</p>
      </div>
    </div>
  </div>
</div>

<!-- QUOTE2-->
<div class="container-fluid" style="padding: 0">
  <div id="quote-container2">
    <div class="row text-center">
      <p id="quote2">Rather than being feared, America's new diversity—poised to reinvigorate the country at a time when other developed nations are facing advanced aging and population loss—can be celebrated.<br><span class="break"><hr></span></p>
    </div>
    <div class="row text-center">
      <p id="name2">William Frey, author of <em>Diversity Explosion: How New Racial Demographics are Remaking America</em></p>
    </div>
  </div>
</div>

<!-- DATA CAROUSEL -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div id="origin-container"></div>
    </div>
    <div class="item">
      <div id="race-container"></div>
    </div>
    <div class="item">
      <div id="age-container"></div>
      <div id="age-btn-container" class="row text-center">
        <button id="age-1990-btn">1990</button>
        <button id="age-2000-btn">2000</button>
        <button id="age-2010-btn">2010</button>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- DATA ANALYSIS -->
<div class="container-fluid" style="padding: 0">
  <div id="data-analysis-container">
    <div class="row text-center">
      <div id="analysis-title">America by the numbers.</div>
    </div>
    <br><br>
    <div class="row text-left">
      <div class="col-md-8 col-md-offset-2">
        <p id="analysis-text">Lorem ipsum dolor sit amet, id pellentesque nunc, vehicula integer, vel curabitur facilisis ullamcorper. Nulla nunc integer vitae est molestie tempus. Tellus pretium fames, mattis vel quam erat, ut est, massa cursus eu amet convallis sit, at id scelerisque in rutrum dictum. Nec urna a urna quis, phasellus eget sed vehicula, fermentum fusce elit in justo condimentum, vehicula nullam. In sagittis pretium parturient gravida ipsum, massa morbi nisi dignissim, habitasse nulla vel, mauris ipsum id mauris ante amet mauris, nunc nec.</p>
      </div>
    </div>
  </div>
</div>

<!-- STORY HEADER -->
<div class="container-fluid" id="story-logo-container" style="padding: 0">
  <div class="row text-center">
    <p id="story-logo">HUMANS OF AMERICA</p>
    <img src="/stories.png" id="stories-logo"/>
  </div>
  <div class="row text-center">
    <span id="partnership-text">In partnership with Humans of New York</span>
  </div>
</div>

<!-- GOOGLE MAP FOR STORIES -->
<div class="container-fluid">
  <div class="row">
    <div id="map-canvas"></div>
  </div>
</div>

<!-- QUOTE1 -->
<div class="container-fluid" style="padding: 0">
  <div id="quote-container1">
    <div class="row text-center">
      <p id="quote1">Multiculturalism is being able to see yourself in the person most unlike you.<br><span class="break"><hr></span></p>
    </div>
    <div class="row text-center">
      <p id="name1">Sandra Cisneros</p>
    </div>
  </div>
</div>

<!-- LOGIN MODAL -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/login" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Login</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <label for="inputUsername" class="col-md-2 text-center">Username</label>
              <input name="username" type="text" class="form-control col-md-3" id="inputUsername">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <label for="inputPassword" class="col-md-2 text-center">Password</label>
              <input name="password" type="password" class="form-control col-md-3" id="inputPassword">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <input type="checkbox"> Remember me
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="login-submit-btn" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- SIGNUP MODAL -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/users" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Signup</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <label for="inputUsername" class="col-md-2 text-center">Username</label>
              <input name="username" type="text" class="form-control col-md-3">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <label for="inputPassword" class="col-md-2 text-center">Password</label>
              <input name="password" type="password" class="form-control col-md-3">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="signup-submit-btn" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDEhzbl8dG3D4RxWLxf8LQNB989kAy2QwE"></script> 
<script src="/oms.min.js"></script>

<script src="/chart.js"></script>
<script src="/map.js"></script>
