{{#each stories}}
<div class="google-map-stories hidden" data-lat="{{latitude}}" data-lng="{{longitude}}">
  <h5>{{location}}</h5>
  <img src="{{image}}"/>
  <p>{{anecdote}}</p>
</div>
{{/each}}


<div class="container">
  <div class="row text-center">
    <div id="title">in<span id="line">/</span>flux</div>
  </div>

  <div class="row text-center">
    <div id="tagline">The story of a changing America.</div>
  </div>
</div>

<div class="container-fluid">
  <div id="graph-container"></div>
</div>

<div class="container-fluid" style="padding: 0">
  <div id="quote-container">
    <div class="row text-center">
      <p id="quote">Rather than being feared, America's new diversity—poised to reinvigorate the country at a time when other developed nations are facing advanced aging and population loss—can be celebrated.</p>
    </div>
    <div class="row text-center">
      <p id="name">William Frey, author of <em>Diversity Explosion: How New Racial Demographics are Remaking America</em></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="origin-container" style="width:100%;"></div>
  </div>
  <div class="row">
    <div id="race-container" style="width:100%;"></div>
  </div>
  <div class="row">
    <div id="age-container" style="width:100%;"></div>
    <button id="age-1990-btn">1990</button>
    <button id="age-2000-btn">2000</button>
    <button id="age-2010-btn">2010</button>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div id="map-canvas"></div>
  </div>
</div>

<!-- LOGIN MODAL -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/login" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Login</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <label for="inputUsername" class="col-md-2 text-center">Username</label>
              <input name="username" type="text" class="form-control col-md-3" id="inputUsername">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <label for="inputPassword" class="col-md-2 text-center">Password</label>
              <input name="password" type="password" class="form-control col-md-3" id="inputPassword">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <input type="checkbox"> Remember me
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="login-submit-btn" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- SIGNUP MODAL -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/users" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Signup</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <label for="inputUsername" class="col-md-2 text-center">Username</label>
              <input name="username" type="text" class="form-control col-md-3">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <label for="inputPassword" class="col-md-2 text-center">Password</label>
              <input name="password" type="password" class="form-control col-md-3">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" id="signup-submit-btn" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEhzbl8dG3D4RxWLxf8LQNB989kAy2QwE"></script> 
<script src="/oms.min.js"></script>

<script src="/chart.js"></script>
<script src="/map.js"></script>
